/*Import Fonts from Google*/
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    font-size: 18px;
    font-family: var(--font-body);
    background-color: rgb(var(--color-text-light));
    color: rgb(var(--color-text-dark));
    
    /*Global Variables*/
    /*Sizing*/
    --width-section-outer: 85%;
    --width-section-inner: 80%;
    --padding-std: 65px;
    /*Font*/
    --font-body: 'Montserrat', sans-serif;
    --font-accent: 'Gruppo', sans-serif;
    /*Colors*/
    --color-text-dark: 38, 40, 51;
    --color-text-light: 251, 251, 251;
    --color-accent-primary: 17, 0, 204;
    --color-accent-secondary: 66, 226, 184;
    
}
.content-container {
    width: var(--width-section-outer);
    margin: 0 auto;
    position: relative;
    min-height: 25vh;
}
.content-block {
    width: var(--width-section-inner);
    margin: 0 auto;
    padding-top: var(--padding-std);
    padding-bottom: var(--padding-std);
}
.flex-display,
noscript,
.header-content,
.icon-inner,
.footer-content {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align:center;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
/*Accessibility Features*/
.skip-to-main {
    color: rgb(var(--color-text-light));
    background-color: rgb(var(--color-text-dark));
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
.skip-to-main:focus {
    opacity: 1;
    z-index: 4;
}
noscript {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    z-index: 4;
    background-color: rgba(var(--color-text-dark), 0.85);
    color: rgb(var(--color-text-light));
}
/*Text Elements*/
.center {
    text-align: center;
}
.accent {
    color: rgb(var(--color-accent-secondary));
}
.content-block p, .content-block li {
    line-height: 225%;
}
.big-text {
    font-size: 3.25em;
    font-family: var(--font-accent);
    text-transform: lowercase;
    line-height: 102.5%;
}
.big-text sup {
    border-radius: 0.25em;
    border: thin solid;
    padding: 0.25em;
    font-size: 0.5em;
    margin: 0.125em;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-size: 1.5em;
}
h1, h2, h3, .big-text {
    font-weight: 400;
}
main h2, 
main h3,
main .big-text {
    font-family: var(--font-accent);
    text-transform: lowercase;
    color: rgb(var(--color-accent-primary));
}
.material-icons {
    vertical-align: bottom;
    font-size: inherit;
}
.icon-lg {
    height: 3em;
    width: 3em;
    font-size: 1.5em;
    border-radius: 50%;
    display: inline-block;
    color: rgb(var(--color-accent-primary));
    background-color: rgb(var(--color-text-light));
    border: thin solid rgb(var(--color-accent-primary));
}
.icon-inner {
    height: 100%;
    width: 100%;
}
.icon-inner span.material-icons {
    display: block;
    margin: 0 auto;
    font-size: inherit;
}
main a {
    color: rgb(var(--color-accent-primary));
}
.cta-body {
    text-decoration: none;
    font-family: var(--font-accent);
    font-size: 1.25em;
    text-transform: lowercase;
    padding: 0.75em;
    border: thin solid rgb(var(--color-accent-primary));
    display: inline-block;
    margin: 0.5em;
}
.cta-body:hover {
    background-color: rgb(var(--color-accent-secondary));
}
/*Header and Nav*/
.header-spacer {
    height: 75px;
}
header {
    /*Header Variable*/
    --height-header: 75px;
    
    height: var(--height-header);
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: rgba(var(--color-accent-primary), 1);
    color: rgb(var(--color-text-light));
    transition: height 0.3s ease-in-out, background 0.3s, color 0.3s;
}
header.scrolled {
    /*Header Variable*/
    --height-header: 65px;
}
header.color-change {
    background-color: rgba(var(--color-text-light), 1);
    color: rgb(var(--color-accent-primary));
    box-shadow: 0 4px 6px -1px rgba(var(--color-text-dark), 0.075), 0 2px 4px -2px rgba(var(--color-text-dark), 0.075);
}
.header-content {
    height: inherit;
    width: var(--width-section-outer);
    margin: 0 auto;
    position: relative;
    transition: border-color 0.3s;
}
header.color-change .header-content {
    border-color: rgb(var(--color-accent-primary));
}
.header-content:after {
    display: table;
    clear: both;
    content: ' ';
}
.header-section {
    display: inline-table;
}
.header-section.left {
    width: 40%;
    float: left;
}
.header-section.center {
    width: 20%;
    float: left;
    text-align: center;
}
.header-section.right {
    width: 40%;
    float: left;
    text-align: right;
}
header a {
    color: inherit;
    text-decoration: none;
}
.site-title {
    color: inherit;
    text-decoration: none;
    text-transform: lowercase;
    font-family: var(--font-accent);
    font-size: 1.75em;
}
.site-title sup {
    border-radius: 0.25em;
    border: thin solid;
    padding: 0.25em;
    margin: 0.25em;
    font-size: 0.5em;
    margin: 0.125em;
}
header ul {
    list-style-type: none;
    padding-left: 0;
}
header li {
    display: inline-block;
}
.header-cta {
    height: var(--height-header);
    border-right: thin solid;
    border-left: thin solid;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    transition: height 0.3s;
    display: table-cell;
    vertical-align: middle;
}
.header-cta:hover {
    background-color: rgb(var(--color-accent-secondary));
}
.header-cta:not(:first-child) {
    border-left: none;
}
.header-cta .material-icons {
    vertical-align: middle;
}
.header-cta a,
.header-nav-menu a {
    color: rgb(var(--color-text-light));
}
header.color-change .header-cta a,
header.color-change .header-nav-menu a {
    color: rgb(var(--color-accent-primary));
}
.header-nav-menu {
    max-height: 0;
    width: 250px;
    overflow: hidden;
    background-color: inherit;
    color: inherit;
    position: absolute;
    top: 100%;
    right: -1px;
    transition: max-height 0.3s ease-out, opacity 0.3s, background 0.3s;
    border: thin solid;
    opacity: 0;
    background-color: rgb(var(--color-accent-primary));
    text-align: right;
}
header.color-change .header-nav-menu {
    background-color: rgb(var(--color-text-light));
}
.header-nav-menu a:hover {
    text-decoration: underline;
}
.header-nav-inner {
    padding: 1em;
    text-align: right;
}
.header-nav-inner li {
    display: block;
    line-height: 2.25em;
    margin: 0;
}
.nav-toggle-container {
    height: var(--height-header);
    width: 72px;
    border-right: thin solid;
    border-left: thin solid;
    cursor: pointer;
    transition: height 0.3s;
    display: inline-table;
    position: absolute;
    right: 0;
    top: 0;
}
.nav-toggle {
    height: inherit;
    width: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: transparent;
    border: none;
    transition: line-height 0.3s;
    cursor: pointer;
    z-index: 1;
}
.nav-toggle:before {
    content: '☰';
}
.nav-toggle.active:before {
    content: 'x';
}
.nav-toggle:hover,
.nav-toggle.active {
    background-color: rgb(var(--color-accent-secondary));
    color: rgb(var(--color-accent-primary));
}
/*Page Content*/
main .content-container {
    border-color: rgb(var(--color-accent-primary));
}
.mast-head {
    min-height: 100vh;
    position: relative;
    margin-top: -75px;
    background: rgb(var(--color-accent-primary));
    background: linear-gradient(180deg, rgba(var(--color-accent-primary), 1) 30%, rgba(var(--color-accent-secondary),1) 100%);
    background-attachment: fixed;
    color: rgb(var(--color-text-light));
}
.mast-head .content-container {
    min-height: inherit;
    border-color: rgb(var(--color-text-light));
}
.scroll-down-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: var(--height-header);
}
.scroll-down-button {
    position: absolute;
    bottom: 0; 
    height: inherit;
    padding: 1em;
    color: inherit;
    text-decoration: none;
    border-top: thin solid;
    border-right: thin solid;
    border-left: thin solid;
}
.scroll-down-button:hover {
    background-color: rgb(var(--color-accent-secondary));
    color: rgb(var(--color-accent-primary));
    border-color: rgb(var(--color-text-light));
}
.hero-banner {
    min-height: 50vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-banner-overlay {
    min-height: inherit;
    position: relative;
    background-color: rgba(var(--color-accent-primary), 0.65);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.top-bg {
    background-position: top
}
.fixed-bg {
    background-attachment: fixed;
}
.hero-banner .content-container {
    border-color: rgb(var(--color-text-light));
    min-height: inherit;
}
.ye-profile-img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: thin solid;
}
.accordion {
    border: thin solid rgb(var(--color-accent-primary));
    position: relative;
    margin-bottom: 1em;
}
.accordion-toggle {
    font-size: 1.25em;
    font-family: var(--font-accent);
    text-align: left;
    color: rgb(var(--color-accent-primary));
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    position: relative;
}
.accordion-toggle:after {
    border-left: thin solid rgb(var(--color-accent-primary));
    content: '+';
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 1em;
}
.accordion-toggle.active {
    border-bottom: thin solid rgb(var(--color-accent-primary));
}
.accordion-toggle.active:after {
    content: '-';
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.accordion-inner {
    padding: 1em;
}
.spacer {
    height: 65px;
}
/*Grid Layout*/
.grid-container {
    display: grid;
    display: -ms-grid;
    grid-column-gap: var(--padding-std);
    grid-row-gap: var(--padding-std);
}
.two-columns {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
}
/*Footer*/
.footer-content {
    min-height: 65px;
    padding-top: 1em;
    padding-bottom: 1em;
    width: var(--width-section-outer);
    margin: 0 auto;
    font-size: 0.85em;
    color: rgb(var(--color-accent-primary));
}
.img-main {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-height: 50vh;
    max-width: 65%;
    margin-top: 1em;
    margin-bottom: 1em;
}
@media only screen and (max-width: 1024px) {
    body {
        /*Global Variables*/
        /*Sizing*/
        --width-section-outer: 95%;
        --width-section-inner: 85%;
    }
}
@media only screen and (max-width: 900px) {
    body {
        font-size: 16px;
    }
}
@media only screen and (max-width: 800px) {
    .mobile-centered {
        text-align: center;
    }
    /*Header and Nav*/
    header {
        /*Header Variable*/
        --height-header: 65px;
    }
    header.scrolled {
        /*Header Variable*/
        --height-header: 50px;
    }
    .header-section.right {
        width: 33.33%;
    }
    .header-section.left {
        width: 33.33%;
    }
    .header-section.center {
        width: 33.33%;
    }
    .header-cta:not(:first-child) {
        display: none;
    }
    /*Page Content*/
    .mast-head {
        background-attachment: scroll;
    }
    .fixed-bg {
        background-attachment: scroll;
    }
    .ye-profile-img {
        max-height: 50%;
        max-width: 50%;
    }
    /*Grid Layout*/
    .two-columns {
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        
        /*Global Variables*/
        --width-section-outer: 100%;
    }
    /*Header and Nav*/
    header {
        border-bottom: thin solid;
    }
    header.color-change {
        box-shadow: none;
    }
    .nav-toggle-container {
        border-bottom: none;
    }
    .header-nav-menu {
        width: 100vh;
        border-top: none;
    }
    .nav-toggle-container {
        border-right: none;
    }
    .header-cta:first-child {
        border-left: none;
    }
    /*Page Content*/
    .scroll-down-button {
        border-left: none;
    }
    .content-container {
        border: none;
    }
}
@media only screen and (max-width: 400px) {
    body {
        font-size: 12px;
        
        /*Global Variables*/
        --width-section-inner: 90%;
    }
}